@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* typography */

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

video,
iframe,
img {
    max-width: 100%;
}

a {
    text-decoration: none;
    --webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    width: 85%;
    margin: 0 auto;
    max-width: 70rem;
    position: relative;
}

@media (min-width: 1040px) {
    .row {
        display: flex;
        justify-content: space-between;
    }
}


.cta {
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0.4em 1.8em;
    letter-spacing: 3px;
    margin: 32px auto 60px 0;
}

.cta-button:hover,
.cta-button:focus {
    background-color: #fff;
    color: #000;
    transition: all 0.25s;
}

.header {
    padding: 1em 0;
    text-align: center;
}


.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    width: 100%;
}

.nav__list {
    margin: 0;
    padding: 0;
}

.nav__item {
    margin: 1.5em 0;
}

.nav__link {
    color: #fff;
}

.nav__link:hover,
.nav__link:focus {
    color: #00c9a7;
    transition: all 0.25 ease;
}

.nav-toggle {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 0;
    background-color: #834496;
    color: #fff;
    padding: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    transition: opacity 250ms ease;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .7;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    background-color: #fff;
    height: 3px;
    margin: 0 auto;
}

.hamburger::before,
.hamburger::after {
    content: "";
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}

@media (min-width: 1040px) {

    .nav-toggle {
        display: none;
    }

    .nav {
        visibility: visible;
        display: flex;
        align-items: center;
        height: auto;
        position: relative;
        justify-content: flex-end;
        font-size: 1.125rem;
    }

    .nav__list {
        display: flex;
        margin: 0;
    }

    .nav__item {
        margin: 0 0 0 1.5em;
        display: inline-block;
        position: relative;
    }

    .nav__item::before {
        transition: 300ms;
        height: 4px;
        content: "";
        position: absolute;
        background-color: #00c9a7;
    }

    .nav__item-ltr::before {
        width: 0%;
        bottom: -5px;
    }

    .nav__item-ltr:hover::before {
        width: 100%;
    }

}


/* Hero  */

.main-img {
    background-color: #444;
    background-image: url(https://i.postimg.cc/RVTWf82c/robotgradientintro2.jpg);
    background-size: cover;
    background-position: 65.39% 50%;
    color: white;
    min-height: 615px;
}

.hero-img {
    margin-top: 40px;
    margin-left: -40px;
    width: 178px;
    height: 178px;

    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 550px;
}

.hero__heading {
    font-size: 3.43rem;
    margin-top: -120px;
    font-weight: initial;
}

.hero__heading span {
    font-weight: bold;
}

.hero__discription {
    margin-top: 19px;
    margin-right: 86px;
    font-size: 1.25rem;
    width: auto;
}

@media (min-width : 860px) {
    .hero__discription {
        max-width: 700px;
    }

    .main-img {
        height: 100vh;
    }
}


/* FEature section  */

.feature__img {
    margin: -112px 0 0 auto;
    width: 259px;
    height: 595px;
    object-fit: cover;
    object-position: 0% 50%;
    background-position: 0% 50%;
    position: relative;
    display: block;
}

.img__svg {
    display: inline-block;
    height: 58px;
    width: 58px;
    margin: 22px auto 0 0;
}


.feature__heading--container {
    position: relative;
    display: flex;
}

.feature__heading {
    position: relative;
    flex: 1;
    max-width: 100%;
    font-size: 3rem;
    font-weight: 700;
    margin: 20px 0 15px;
    color: #834496;
    word-wrap: break-word;
}

.height--adjust {
    margin-top: -113px;
    margin-left: auto;
    min-height: 800px;
}

.feature__list--container {
    margin-top: 36px;
    margin-bottom: 134px;
}

.feature__lists {
    max-width: 100%;
    max-height: 100%;
}

.feature__list {
    padding-left: 9px;
    padding-right: 9px;
    margin-bottom: 4em;
}

.feature__list__heading {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.865rem;
    color: #834496;
    margin: 25px 0 0 0;
    position: relative;
    word-wrap: break-word;
    line-height: 1.2;
}

.feature__list__para {
    font-size: 1.25rem;
    font-weight: 300;
    word-wrap: break-word;
    position: relative;
    margin: 30px 0 22px 0;
}

@media (min-width: 1040px) {


    .height--adjust {
        margin-top: -296px;
    }
}

/* Vedio Section  */

.video__section {
    background: url(https://i.postimg.cc/MTDGRfFz/bggradient4.jpg);
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 3em 0;
}

.video__container {
    /* min-height: 439px; */
    margin-top: 75px;
    margin-bottom: 90px;
    padding-left: 10px;
    padding-right: 10px;
}

.video__section__img {
    width: 261px;
    height: 459px;
    object-position: 98.6% 50%;
    background-position: 98.6% 50%;
    margin-top: -114px
}

.quote__svg {
    height: 52px;
    width: 52px;
}

.quote__text {
    font-size: 1.25rem;
    margin: 20px 0 0;
    color: #fff !important;
    word-wrap: break-word;
    font-style: italic;
}

.quote__ref {
    font-size: 1.25rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin: 20px 0 35px;
    text-align: right;
    position: relative;
    color: #fff;
}

.video {
    margin: 0 auto;
    max-width: 550px;
}

@media (min-width: 1040px) {

    .video__container {
        margin: 0;
        margin-top: -30px;
    }

    .quote__container {
        width: 45%;
    }

    .video {
        width: 50%;
        display: flex;
        align-items: center;
    }
}

/* Pricing SEction  */

/* .  */

.pricing__img {
    width: 285px;
    height: 416px;
    margin: -77px 0 0 auto;
    object-fit: cover;
    object-position: 0% 50%;
    background-position: 0% 50%;
    position: relative;
    display: block;
}

.level {
    background-color: #ddd;
    color: #834496;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.product__lists {
    margin: 60px 0;
}

.product_list--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product_list--item+.product_list--item {
    margin-top: 3em;
}

.product-details {
    padding: 10px;
    margin-bottom: 2em;
}

.product-details>h2 {
    margin-top: 15px;
    color: #834496;
}

.product-details>ol>li {
    padding: 5px 0;
}

.product-details>ol {
    margin: 15px 0;
}

.product--btn {
    color: #834496;
    border: 2px solid #55f9fc;
    margin: 15px 0;
}

.product--btn:focus,
.product--btn:hover {
    background-color: #55f9fc;
    transition: all 0.25s ease;
}

@media (min-width:880px) {
    .product--row{
        display: flex;
        justify-content: space-between;
    }
    .product__lists {
        gap: 3em;
    }

    .product_list--item+.product_list--item {
        margin-top: 0;
    }
}

/* Contact form  */


.contact__form {
    background: url(https://i.postimg.cc/yYw7DT8F/bggradient3.jpg);
    background-size: cover;
    background-position: 80% 50%;
    background-repeat: no-repeat;
    object-fit: cover;
    display: block;
    padding: 6em 0;
}

.form__container {
    margin: 3em 0;
    gap: 40px;
}

.form__img--container {
    text-align: center;
    margin-bottom: 2em;
}

.contact-form--container {
    max-width: 550px;
    margin: 0 auto;
}

label {
    color: #fff;
    font-size: 1.125rem;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
}

input[type=submit]:hover {
    background-color: #45a049;
}

@media (min-width : 1040px) {
    .form__img--container {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-form {
        width: 40%;
    }
}

/* Footer  */

.footer {
    color: #ffffff;
    background-color: #ff4892;
    background-image: none;
    position: relative;
    padding: 30px 0;
}

.footer__container {
    width: 283.3334px;
    margin-top: 52px;
    margin-bottom: 52px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    flex: 1;
    position: relative;
}

.footer__text {
    margin: 0 6px;
    position: relative;
    margin-bottom: 0px;
    font-size: 1rem;
    word-wrap: break-word;
}

.footer__socials {
    width: 122px;
    min-width: 94px;
    white-space: nowrap;
    margin: 27px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1040px) {
    .footer__container {
        min-width: 900px;
    }
}