@import url("https://fonts.googleapis.com/css?family=Poppins:300,600");

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* typography */

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    overflow-wrap: break-word;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

video,
iframe,
img {
    max-width: 100%;
}

a {
    text-decoration: none;
    --webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 70rem;
    position: relative;
}

.cta {
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0.4em 1.8em;
    letter-spacing: 3px;
    margin: 32px auto 60px 0;
}

.cta-button:hover,
.cta-button:focus {
    background-color: #fff;
    color: #000;
    transition: all 0.25s;
}

.header {
    text-align: center;
}


.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    width: 100%;
}

.nav__list {
    margin: 0;
    padding: 0;
}

.nav__item {
    margin: 1.5em 0;
}

.nav-toggle {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    border: 0;
    background-color: #d65db1;
    color: #fff;
    padding: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    transition: opacity 250ms ease;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .7;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    background-color: #fff;
    height: 3px;
    margin: 0 auto;
}

.hamburger::before,
.hamburger::after {
    content: "";
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}



/* Hero  */

.main-img {
    background-color: #444;
    background-image: url(./img/robotgradientintro2.jpg);
    background-size: cover;
    background-position: 65.39% 50%;
    min-height: 100vh;
    color: white;

}

.hero-img {
    margin-top: 40px;
    margin-left: -40px;
    width: 178px;
    height: 178px;

    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.hero__heading {
    font-size: 3.43rem;
    margin-top: -120px;
    font-weight: initial;
}

.hero__heading span {
    font-weight: bold;
}

.hero__discription {
    margin-top: 19px;
    margin-right: 86px;
    font-size: 1.25rem;
    width: auto;
}